.taskDiv{
    border: 1px solid black;
    padding: 5px;
    padding-left: 10px;
}

.lowImportance{
    background-color: #38bdf8;
}
.important{
    background-color: #fcd34d;
}
.urgent{
    background-color: #f87171;
}